{%- extends "bootstrap/base.html" %}
{% block title %}Meetings Main Page{% endblock %}

{% block styles -%}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Meetings</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ongoing Meeting<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('hist') }}">History</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
    <div style="margin-top: 20px; display: block"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="jumbotron">
                    {% if status == 'started' %}
                        <h1 class="display-4">Presenter: <span style="white-space:nowrap;">{{ latest_meeting.presenter.username }}</span></h1>
                        <p class="lead">The meeting started at: {{ latest_meeting.start_ts }}</p>
                        <hr class="my-4">
                        <p>Press the button to stop the meeting.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" onclick="stop_meeting()" role="button">Stop Meeting</a>
                        </p>
                    {% elif status == 'created' %}
                        <h1 class="display-4">Meeting created</h1>
                        <p class="lead">You are about to start the meeting, please select the desired participants and click the button to start one.
                            <br> A presenter will be randomly picked among the participants to lead the meeting.</p>
                        <hr class="my-4">
                        <p>Use the selector beside each person's name to exclude participants.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" onclick="start_meeting()" role="button">Start Meeting</a>
                        </p>
                    {% else %} {# finished #}
                        <h1 class="display-4">No ongoing meeting</h1>
                        <p class="lead">There is no ongoing meeting, please click the button to create one.
                            <br> A presenter will be randomly picked among the participants to lead the meeting.</p>
                        <hr class="my-4">
                        <p>Use the selector beside each person's name to mark missing people.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" onclick="create_meeting()" role="button">Create Meeting</a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <table class="table table-hover" id="users">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">Username</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in persons %}
                        <tr {% if not p.available %}class="table-active"{% endif %}
                            {% if p.id not in ongoing_participants %}class="table-dark"{% endif %} id="r_{{ p.id }}" >
                            <th scope="row">{{ p.username }} {% if status!='finished' and p.id == latest_meeting.presenter_id %}
                                <span class="badge badge-danger">Presenter</span> {% endif %}</th>
                            <td>
                                {% if not p.available %}Not Present{% else %}
                                {% if status!='finished' and p.id not in ongoing_participants %}Excluded{% endif %}{% endif %}
                            </td>
                            <td>
                                {% if p.available %}
                                    {% if status!='finished' %}
                                        {% if p.id not in ongoing_participants %}
                                            <a href="#" class="fas fa-sign-in-alt" onclick="invitation_add({{ p.id }})"></a>
                                        {% else %}
                                            <a href="#" class="fas fa-sign-out-alt" onclick="invitation_del({{ p.id }})"></a>
                                        {% endif %}
                                    {% endif %}
                                    <a href="#" class="fas fa-user-times" onclick="presence_del({{ p.id }})"></a>
                                {% else %}
                                    <a href="#" class="fas fa-undo" onclick="presence_add({{ p.id }})"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-success">
                            <th scope="row" id="new_user_container">
                                <input type="text" value="Add new" class="form-control" id="new_user"
                                       onkeypress="if($(this).val()==='Add new')$(this).val('')" onblur="if($(this).val()==='')$(this).val('Add new')">
                            </th>
                            <td></td>
                            <td class="align-middle"><a href="#" onclick="add_user()" class="fas fa-user-plus"></a> </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
            create_meeting = function () {
                $.post('api/create_meeting').success(function () {location.reload()});
            };

            start_meeting = function () {
                $.post('api/start_meeting').success(function () {location.reload()});
            };

            stop_meeting = function () {
                $.post('api/stop_meeting').success(function () {location.reload()});
            };

            add_user = function () {
                var uname = $('#new_user').val();
                $.post('api/person/' + uname)
                    .success(function () {location.reload()})
                    .fail(function () {
                        $('#new_user').addClass('is-invalid');
                        $('#new_user_container').append(
                            '<div class="invalid-feedback">Sorry, that username\'s taken. Try another?</div>'
                        )
                    });
            };

            presence_add = function (pid) {
                $.post('/api/person/presence/' + pid).success(function () {location.reload()});
            };

            presence_del = function (pid) {
                $.ajax({url: '/api/person/presence/' + pid, type: 'DELETE'}).success(function () {location.reload()});
            };

            invitation_add = function (pid) {
                $.post('/api/participant/{{ meeting_id }}/' + pid).success(function () {location.reload()});
            };

            invitation_del = function (pid) {
                $.ajax({url: '/api/participant/{{ meeting_id }}/' + pid, type: 'DELETE'}).success(function () {location.reload()});
            };
    </script>
{#    {{ super() }}#}
{% endblock %}