{%- extends "bootstrap/base.html" %}
{% block title %}Meetings Main Page{% endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Meetings</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ongoing Meeting<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('hist') }}">History</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
    <div style="margin-top: 20px; display: block"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="jumbotron">
                    {% if ongoing %}
                        <h1 class="display-4">Presenter: {{ latest_meeting.presenter.name }}</h1>
                        <p class="lead">The meeting started at: {{ latest_meeting.start_ts }}</p>
                        <hr class="my-4">
                        <p>Press the button to stop the meeting.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" onclick="stop_meeting()" role="button">Stop Meeting</a>
                        </p>
                    {% else %}
                        <h1 class="display-4">No ongoing meeting</h1>
                        <p class="lead">There is no ongoing meeting, please select the desired participants and click the button to start one.
                            <br> A presenter will be randomly picked among the participants to lead the meeting.</p>
                        <hr class="my-4">
                        <p>Use the selector beside each person's name to mark missing people.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" onclick="start_meeting()" role="button">Start Meeting</a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <table class="table table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">Username</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in persons %}
                        <tr {% if not p.available %}class="table-active"{% endif %}
                            {% if p.id not in ongoing_participants %}class="table-dark"{% endif %} >
                            <th scope="row">{{ p.username }} {% if ongoing and p.id == latest_meeting.presenter_id %}
                                <span class="badge badge-danger">Presenter</span> {% endif %}</th>
                            <td>
                                {% if ongoing and p.id not in ongoing_participants %}Excluded{% else %}
                                {% if not p.available %}Not Present{% endif %}{% endif %}
                            </td>
                            <td>ban, missing</td>
                        </tr>
                    {% endfor %}
                    <tr class="table-success">
                        <th scope="row">Add new</th>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select invited persons</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for p in persons %}
                        <tr {% if not p.available %}class="table-active"{% endif %}
                            {% if p.id not in ongoing_participants %}class="table-dark"{% endif %} >
                            <th scope="row">{{ p.username }} {% if ongoing and p.id == latest_meeting.presenter_id %}
                                <span class="badge badge-danger">Presenter</span> {% endif %}</th>
                            <td>
                                {% if ongoing and p.id not in ongoing_participants %}Excluded{% else %}
                                    {% if not p.available %}Not Present{% endif %}{% endif %}
                            </td>
                            <td>ban, missing</td>
                        </tr>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
                start_meeting = function () {
                    $.post('api/create_meeting').done(location.reload);
                };

                stop_meeting = function () {
                    $.post('api/stop_meeting').done(location.reload);
                };
            }
        );
    </script>
{% endblock %}